<div style="margin-left: 1rem;" class="container-fluid">

    <!-- form header -->
    <div class="row">
      <div class="col">
        <h1>HOTEL SEARCH</h1>
        <hr>
      </div>
    </div>
  
    
      
    <!-- main form -->
     <div>
        
          
      <form action="" style="width:100%;" [formGroup]="searchForm">
        <div class="col">
  
  
          <div class ="row" style="margin-bottom: 1rem;">
            <label>
              Check In Date
              <input type="date" formControlName="checkIn">
                  <!--   <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
                    <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
                    </div> -->
              </label>
          </div>
  
          <div class ="row" style="margin-bottom: 1rem;">
              <label>
                Check Out Date
                <input type="date" formControlName="checkOut">
                    <!--   <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
                      <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
                      </div> -->
              </label>
          </div>
  
          <div class="row" style="margin-bottom: 1rem;">
              <label>
                Province the Hotel is located
                <select formControlName="province">
                    <option value="western">Western</option>
                    <option value="southern">Southern</option>
                    <option value="central">Central</option>
                    <option value="north-central">North Central</option>
                    <option value="nothern">Nothern</option>
                    <option value="uva">Uva</option>
                    <option value="north-western">North Western</option>
                    <option value="eastern">Eastern</option>
                    <option value="sabaragamuwa">Sabaragamuwa</option>
                </select>
              </label>
          </div>

          <div>
              <h4>Room Details</h4>
          </div>

          <div class="row" style="margin-bottom: 1rem;">
            <label>
              Number of Single Rooms
              <input type ="text" formControlName="singleRooms">
            </label>
          </div>

          <div class="row" style="margin-bottom: 1rem;">
            <label>
              Number of Double Rooms
              <input type ="text" formControlName="doubleRooms">
            </label>
          </div>

          <div class="row" style="margin-bottom: 1rem;">
            <label>
              Number of Triple Rooms
              <input type ="text" formControlName="tripleRooms">
            </label>
          </div>

          <div class="row" style="margin-bottom: 1rem;">
            <label>
              Number of Quadruple Rooms
              <input type ="text" formControlName="quadrupleRooms">
            </label>
          </div>
  
          
  
          <div class="col-2">
              <button type="button" (click)="submitHandler()" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </form> 

        <div *ngIf ="results">
            <ul *ngIf ="results">
              <li *ngFor="let result of results">
                <h3>{{result.hotelName}}</h3>
                <div *ngFor = "let type of result.roomTypesArray">
                  <h4>{{type.roomTypeName}}</h4>
                  <label *ngIf="type.maxAdults==1">
                    Single Rooms available
                    <input type="text" name="singleAvail" value={{type.numberAvailable}} readonly style="margin-left: 1rem;">
                    <label style="margin-left: 1rem;">
                      Price Per Room
                      <input type="text" name="{{type.roomTypeName}}singlePrice" value={{type.cost}} readonly style="margin-left: 1rem;">
                    </label>
                    <label style="margin-left: 1rem;"> 
                      Book: 
                      <input type="text" name ="{{type.roomTypeName}}single">
                    </label>
                  </label>
                  <label *ngIf="type.maxAdults==2">
                    Double Rooms available
                    <input type="text" name="doubleAvail" value={{type.numberAvailable}} readonly style="margin-left: 1rem;">
                    <label style="margin-left: 1rem;">
                      Price Per Room
                      <input type="text" name="{{type.roomTypeName}}doublePrice" value={{type.cost}} readonly style="margin-left: 1rem;">
                    </label>
                    <label style="margin-left: 1rem;"> 
                        Book: 
                        <input type="text" name ="{{type.roomTypeName}}double">
                      </label>
                  </label>
                  <label *ngIf="type.maxAdults==3">
                    Triple Rooms available
                    <input type="text" name="tripleAvail" value={{type.numberAvailable}} readonly style="margin-left: 1rem;">
                    <label style="margin-left: 1rem;">
                      Price Per Room
                      <input type="text" name="{{type.roomTypeName}}triplePrice" value={{type.cost}} readonly style="margin-left: 1rem;">
                    </label>
                    <label style="margin-left: 1rem;"> 
                        Book: 
                        <input type="text" name ="{{type.roomTypeName}}triple">
                      </label>
                  </label>
                  <label *ngIf="type.maxAdults==4">
                    Quadruple Rooms available
                    <input type="text" name="quadrupleAvail" value={{type.numberAvailable}} readonly style="margin-left: 1rem;">
                    <label style="margin-left: 1rem;">
                      Price Per Room
                      <input type="text" name="{{type.roomTypeName}}quadruplePrice" value={{type.cost}} readonly style="margin-left: 1rem;">
                    </label>
                    <label style="margin-left: 1rem;"> 
                        Book: 
                        <input type="text" name ="{{type.roomTypeName}}quadruple">
                      </label>
                  </label>
                </div>
              </li>
            </ul>
            <label style="margin-left: 10rem;" style=" margin-top: 10rem;"> 
                Price 
                <input type="text" name="totalPrice" value ={{totalPrice}}$ readonly style="margin-left: 1rem;">

              </label>
          </div>
      
          <div *ngIf= "!flag">
            <h3>No Rooms Available</h3>
          </div>

      
  
      
    </div>
    
  </div>

